/src/mfgd
mfgd
*.o
/test/.clarcache
/test/clar.suite
/test/clar_test
/test/clar_test.dSYM/Contents/Info.plist
/test/clar_test.dSYM/Contents/Resources/DWARF/clar_test
x64/
x86/
Debug/

3dlearns.opensdf
3dlearns.sdf
3dlearns.vcxproj.user
3dlearns.vcxproj.filters